<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <link rel="icon" type="image/png" href="img/favicon.ico">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" src="http://code.angularjs.org/1.1.0/angular.min.js"></script>
    <script type="text/javascript" src="http://www.google.com/jsapi?ext.js"></script>
    <script type='text/javascript' src="newApp.js"></script>
  </head>
  <body ng-controller="MainCtrl">
    <div class="jumbotron">
      <h3 class="text-center">Q400 (iPad App)</h3>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h4 class="btn btn-warning">Burn Up Chart</h4>
          <div class="loader"><img src="loader.gif"></div>
          <burn-up-chart></burn-up-chart>
        </div>
        <div class="col-md-6">
          <h4 class="btn btn-primary">Resource Allocation</h4>
          <div class="loader"><img src="loader.gif"></div>
          <pie-chart></pie-chart>
        </div>
      </div>
      <hr/>
      <div class="row marginTop">
        <div class="col-md-6">
          <h4 class="btn btn-primary">Sprint Burn-down Chart- (Sprint-{{activeSprint}})</h4>
          <div class="loader text-center"><img src="loader.gif"></div>
          <burn-down-chart></burn-down-chart>
        </div>
        <div class="col-md-6">
          <h4 class="btn btn-success">Key Updates</h4>
          <div class="loader"><img src="loader.gif"></div>
          <div ng-controller="LogTracker">
           <table class="table">
              <tr>
              <th ng-repeat="head in heads">{{head}}</th>
              </tr>
              <tr ng-repeat="elements in body">
                <td ng-repeat="element in elements.c">{{element.v}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <hr/>
      <div class="row marginTop">
        <div class="col-md-6">
          <h4 class="btn btn-warning">Sprint Goals</h4>
          <div class="loader"><img src="loader.gif"></div>
          <div ng-controller="SprintGoalsCtrl">
            <ul ng-cloak>
              <li>
                <b>{{heads[0]}}</b>
                <ul>
                  <li ng-repeat='elements in body'>
                    <span ng-repeat="element in elements">{{element[0].v}}</span>
                  </li>
                </ul>
              </li>
              <li>
                <b>{{heads[1]}}</b>
                <ul>
                  <li ng-repeat='elements in body' ng-show="elements.c[1].v != null">
                    <span ng-repeat="element in elements">{{element[1].v}}</span>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-6">
          <h4 class="btn btn-primary">Sprint Time Stamps</h4>
          <div class="loader"><img src="loader.gif"></div>
          <div ng-controller="SprintTimeStmpCtrl">
           <table class="table">
              <tr>
              <th ng-repeat="head in heads">{{head}}</th>
              </tr>
              <tr ng-repeat="elements in body" ng-class="{ selected : elements.c[0].f == activeSprint}">
               <td ng-repeat="element in elements.c">{{element.f}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div> 
  </body>
</html>