.row.marginTop{
	margin-top:25px;
}
.selected{
	background:blue;
	color:#fff;
}
.jumbotron {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 30px;
    color: inherit;
    background-color: #eee;
}
.btn{
	cursor:default;
	border-radius:0;
	width:100%;
}
.loader img{
	height:65px;
	width:65px;
	margin:0px auto;
	display:block;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}